<ion-view view-title="用户登录">

    <ion-content class="padding">
        <div style="height:200px">2</div>
        <form ng-init="auth.submitted=false"
              ng-submit="auth.login(name, password)"
              name="loginForm" novalidate>
        <div class="list list-inset">
            <label class="item item-input" style="margin-top:1px;">
                <input type="text"
                       ng-model="name"
                       name="name"
                       placeholder="用户名"
                       autocorrect="off"
                       autocapitalize="off"
                       ng-class="{'submission-opacity':auth.submitted}"
                       required>
            </label>
            <label class="item item-input">
                <input type="password"
                       ng-model="password"
                       name="password"
                       placeholder="密码"
                       autocorrect="off"
                       autocapitalize="off"
                       ng-class="{'submission-opacity':auth.submitted}"
                       required>
            </label>
        </div>
        <button type="submit"
                class="button button-block button-positive btn-sub"
                ng-disabled="auth.submitted">
            登录
        </button>
        </form>
    </ion-content>
</ion-view>

