
<div class="bar bar-subheader">
    <div class=" button-bar">
        <button class="button button-light button-android icon ion-gear-a" ng-class="{ 'button\-positive': demo == 'ios' }" ng-click="setPlatform('ios')">
            维修信息
        </button>
        <button class="button button-light button-android button-positive" ng-class="{ 'button\-positive': demo == 'android' }" ng-click="setPlatform('android')">
            维修步骤图片
        </button>
        <a class="button button-light icon ion-settings">病害信息</a>
    </div>
</div>
<ion-view view-title="地图浏览">

    <ion-content>
        map
    </ion-content>
</ion-view>