<ion-view hide-nav-bar=true>
    <ion-slide-box class="tut-box" show-pager="true">
        <ion-slide>
            <div style="background:url(img/welcome1.jpg);height:100%;background-size:cover;background-position:center"
                 class='padding'>
                <div class="description">
                    <h3>介绍内容1</h3>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="background:url(http://cdn.duitang.com/uploads/item/201406/27/20140627233124_Fvayh.thumb.700_0.jpeg);height:100%"
                 class='padding'>
                <div class="description">
                    <h3>介绍内容2</h3>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="background:url(http://cdn.duitang.com/uploads/item/201406/27/20140627233124_Fvayh.thumb.700_0.jpeg);height:100%"
                 class='padding'>
                <div class="description">
                    <h3>Play your new music and share it with your friends</h3>
                </div>
                <div style="width:100%;bottom:50px;position:fixed;text-align:center">
                    <a class="button button-energized"
                       style="width:60%;font-size:20px;font-weight:bold"
                            href="#/maintains">
                        马上进入
                    </a>
                </div>
            </div>
        </ion-slide>
    </ion-slide-box>
</ion-view>
