<ion-view view-title="设置">
    <ion-content class="has-header">
        <ion-list>
            <!--个人信息-->
            <ion-item class="item-divider">个人信息</ion-item>
            <ion-item>
                当前用户
                <span class="item-note">{{user.fullname}}</span>
            </ion-item>
            <label class='item item-input item-select'>
                <span class="input-label">切换访问地址</span>
                <select ng-change="changeApiUrl()" ng-model="apis.type">
                    <option value="penavico">内部网络(在外代楼内)</option>
                    <option value="internet">外部网络</option>
                    <option value="ionicproxy">开发测试代理</option>
                </select>
            </label>
            <ion-item ng-click="logout()" style='color:red' class='item-icon-right'>
                退出登录
                <i class="icon ion-email"></i>
            </ion-item>

            <!--关于-->
            <ion-item class="item-divider">关于</ion-item>
            <ion-item>帮助</ion-item>
            <ion-item>
                检查更新<span class="item-note">当前版本: {{version}}</span>
            </ion-item>
            <ion-item>关于APP</ion-item>
            <ion-item>天津外代货运公司</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
