<ion-tabs class="tabs-icon-top tabs-positive">

    <!-- 发运计划 -->
    <ion-tab title="发运计划" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper"
             ui-sref=tab.plans>
        <ion-nav-view name="tabPlans" class="slide-left-right"></ion-nav-view>
    </ion-tab>

    <!-- 我的任务 -->
    <ion-tab title="我的任务" icon-off="ion-ios-person-outline" icon-on="ion-ios-person"
             ui-sref=tab.tasks>
        <ion-nav-view name="tabTasks" class="slide-left-right"></ion-nav-view>
    </ion-tab>

    <!-- 设置 -->
    <ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear"
             ui-sref="tab.setting">
        <ion-nav-view name="tabSetting" class="slide-left-right"></ion-nav-view>
    </ion-tab>
</ion-tabs>
