<ion-view view-title="我的任务">
    <ion-content>
        <div class="text-center padding"
             ng-if="isLoading">
            <ion-spinner></ion-spinner>
            <p>加载中...</p>
        </div>
        <ion-refresher ng-if="plans.length > 0 || !isLoading"
                       pulling-text="下拉刷新..."
                       on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list class="plans">
            <ion-item class="item-avatar"
                      collection-repeat="plan in plans"
                      collection-item-width="'100%'"
                      collection-item-height="73"
                      href="#/plan/{{plan.qp_id}}">
                <img ng-src="img/{{plan.line_name == 'ZIM' ? 'zim.png' : 'hds.png'}}"
                     ng-if="!settings.saverMode" reset-img
                     style="border-radius:0;opacity:.8">
                <span class="title">
                    {{plan.batch_no}}
                </span>
                <span class="label label-positive">{{plan.status}}</span>
                <span class="label label-default">{{plan.transport_name.substring(0,2)}}</span>
                <p class="summary">
                    出运: {{plan.export_date.split(" ")[0]}}  ,
                    计划: {{plan.plan_sets_count}}/{{plan.plan_boxs_count}} ,
                    安排: {{plan.arranged_sets_count}} / {{plan.arranged_boxs_count}}
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
