<ion-item ng-repeat="item in results"
          ng-class="{'complete':item.status == '已完成'}"
          class="item-icon-right detail">

    <div>
        <span style="display:inline-block;width:25px;text-align:right">{{$index+1}}.</span>
        <span style="font-weight:bold">{{item.name}}</span>
        <span style="float:right;font-size:12px">
            计划: {{item.plan_date|formatDate:"YY-MM-DD"}}
        </span>
    </div>

    <div style="font-size:12px;padding:5px 0 0 30px">
        <span>{{item.duty_lvl1_name}}</span>
        <span class='text-right' ng-class="{'isdelay':item.isdelay}" style="float:right;">
            确认: {{item.complete_date|formatDate:"YY-MM-DD"}}<br>
            <span ng-if="item.isdelay" style='color:#999'>{{item.confirm_memo}}</span>
        </span>
    </div>
    <i class="icon ion-checkmark"></i>

</ion-item>

